@posterSize: 12em;
@smallPosterSize: 6em;
@posterRatio: 0.68;

@thumbSize: 16em;
@thumbRatio: 16/9;
@playIconSize: 6em;

.movie {
	width: @thumbSize + 2*@contentBoxMargin;
	margin-right: 0 !important;
	margin-bottom: 0 !important;

	.menu {
		.cancel, .save {
			display: none;
		}
	}

	&.editing .menu {
		.edit {
			display: none;
		}

		.cancel, .save {
			display: block;
		}
	}

	.cover {
		background-color: black;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;

		width: @thumbSize;
		height: @thumbSize / @thumbRatio;
		line-height: @thumbSize / @thumbRatio;

		a.play {
			text-align: center;
			display: block;
			width: 100%;
			height: 100%;
			opacity: 0.75;

			svg {
				display: none;
				vertical-align: middle;
				width: @playIconSize;
				height: @playIconSize;
			}

			&:hover svg {
				display: inline;
			}
		}
	}

	.title {
		color: @darkGray;
		font-weight: bold;
	}

	.length {
		color: @mlGray;
	}
}

.tvshow {
	min-height: @posterSize + 2*@contentBoxMargin;

	position: relative;

	.backdrop {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-size: cover;
		opacity: .1;
	}

	.info {
		.cover {
			float: left;
			margin-right: @contentBoxMargin;

			img {
				max-width: @posterSize * @posterRatio;
				max-height: @posterSize;

				@media @medium {
					max-width: @smallPosterSize * @posterRatio;
					max-height: @smallPosterSize;
				}
			}
		}

		.title {
			font-weight: bold;
			font-size: 1.2em;
			color: @darkGray;
		}
	}

	ul.season {
		list-style-type: none;
		margin-top: @contentBoxMargin;
		margin-left: @posterSize * @posterRatio + @contentBoxMargin;

		@media @medium {
			margin-left: @smallPosterSize * @posterRatio + @contentBoxMargin;
		}

		li.content-list-header {
			margin-top: @contentBoxMargin;
			font-weight: bold;
		}

		li.episode {
			position: relative;
			display: flex;
			flex-flow: row wrap;
			align-items: baseline;

			.number {
				margin-right: 1em;
				color: @mlGray;
				flex-base: 1.5em;
				text-align: right;
			}

			.title {
			}

			.length {
				margin-left: auto;
				color: @mlGray;
			}
		}
	}
}